{% extends "main/base.html" %}
{% load static i18n %}

{% block title %}{% trans "Association rating" %}{% endblock %}

{% block bread %}

<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{% url 'all_rating' %}"> {% trans 'All ratings' %} </a></li>/
    <li><a href="{% url 'association_rating' %}"> {% trans 'Continents' %} </a></li>/
    <li><a href="{{ object.get_absolute_url }}"> {% trans 'Association rating ' %}{{ object.continent.title }} </a></li>/
</ul>
{% endblock %}

{% block content %}
    <div class="table-wrap">
        <table class="table-1">
            <tr>
                <th>{% trans 'Place' %}</th>
                <th>{% trans 'Association' %}</th>
                <th>16/17</th>
                <th>17/18</th>
                <th>18/19</th>
                <th>19/20</th>
                <th>20/21</th>
                <th>{% trans 'Points' %}</th>
                <th>{% trans 'Teams' %}</th>
            </tr>
            {% if object.get_ass %}
                {% for rating in object.get_ass %}
                    {% if rating.no_teams %}
                    <tr>
                        <td class="none-team">{{ rating.place }}</td>
                        <td class="none-team">
                            <a title="{{ rating.country.title }}" href="{{ rating.country.get_absolute_url }}">
                                {% if rating.country.picture %}
                                    <img loading="lazy" class="images-table" src="{{ rating.country.picture.url }}" alt="{{ rating.country.title }}"> 
                                {% else %}
                                    <img loading="lazy" class="images-table" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                                {% endif %}
                                <span class="link-rating">{{ rating.country.title }}</span>
                            </a>
                        </td>
                        <td class="none-team">{{ rating.point_year1 }}</td>
                        <td class="none-team">{{ rating.point_year2 }}</td>
                        <td class="none-team">{{ rating.point_year3 }}</td>
                        <td class="none-team">{{ rating.point_year4 }}</td>
                        <td class="none-team">{{ rating.point_year5 }}</td>
                        <td class="none-team">{{ rating.points }}</td>
                        <td class="none-team">{{ rating.teams }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{ rating.place }}</td>
                        <td>
                            <a title="{{ rating.country.title }}" href="{{ rating.country.get_absolute_url }}">
                                {% if rating.country.picture %}
                                    <img loading="lazy" class="images-table" src="{{ rating.country.picture.url }}" alt="{{ rating.country.title }}"> 
                                {% else %}
                                    <img loading="lazy" class="images-table" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                                {% endif %}
                                <span class="link-rating">{{ rating.country.title }}</span>
                            </a>
                        </td>
                        <td>{{ rating.point_year1 }}</td>
                        <td>{{ rating.point_year2 }}</td>
                        <td>{{ rating.point_year3 }}</td>
                        <td>{{ rating.point_year4 }}</td>
                        <td>{{ rating.point_year5 }}</td>
                        <td>{{ rating.points }}</td>
                        <td>{{ rating.teams }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}
