{% extends "main/base.html" %}
{% load static i18n %}

{% block title %}{% trans "Club rating" %}{% endblock %}

{% block bread %}

<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{% url 'all_rating' %}"> {% trans 'All ratings' %} </a></li>/
    <li><a href="{% url 'club_rating' %}"> {% trans 'Continents' %} </a></li>/
    <li><a href="{{ rating.get_absolute_club_rating_url }}"> {% trans 'Club rating ' %}{{ continent.title }} </a></li>/
</ul>
{% endblock %}

{% block content %}
    <div class="table-wrap">
        <table class="table-1">
            <tr>
                <th>{% trans 'Place' %}</th>
                <th>{% trans 'Club' %}</th>
                <th>{% trans 'Country' %}</th>
                <th>{% trans 'Points' %}</th>
            </tr>

            {% for rating in ratings %}
                {% if rating.points != 1 %}
                <tr>
                    <td>{{ rating.place }}</td>
                    <td>
                        <a class="link-rating" href="{{ rating.get_absolute_url }}">
                            {% if rating.picture %}
                                <img class="images-table" src="{{ rating.picture.url }}" alt="{{ rating.title }}"> 
                            {% else %}
                                <img class="images-table" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            {{ rating.title }}
                        </a>
                    </td>
                    <td>
                        <a class="link-rating" href="{{ rating.league.country.get_absolute_about_url }}">
                            {% if rating.league.country.picture %}
                                <img class="images-table" src="{{ rating.league.country.picture.url }}" alt="{{ rating.league.country }}"> 
                            {% else %}
                                <img class="images-table" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            {{ rating.league.country }}
                        </a>
                    </td>
                    <td>{{ rating.points }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
