{% extends "main/base.html" %}
{% load static i18n %}

{% block title %}{% trans "Club rating" %}{% endblock %}

{% block bread %}

<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{% url 'all_rating' %}"> {% trans 'All ratings' %} </a></li>/
    <li><a href="{% url 'club_rating' %}"> {% trans 'Continents' %} </a></li>/
    <li><a href="{{ rating.get_absolute_club_rating_url }}"> {% trans 'Club rating ' %}{{ continent.title }} </a></li>/
</ul>
{% endblock %}

{% block content %}
    <div class="table-wrap">
        <table class="table-1">
            <tr>
                <th>{% trans 'Place' %}</th>
                <th>{% trans 'Club' %}</th>
                <th>{% trans 'Country' %}</th>
                <th>16/17</th>
                <th>17/18</th>
                <th>18/19</th>
                <th>19/20</th>
                <th>20/21</th>
                <th>{% trans 'Points' %}</th>
            </tr>
            {% if object.get_team %}
                {% for rating in object.get_team %}
                    <tr>
                        <td>{{ rating.place }}</td>
                        <td>
                            <a title="{{ rating.club.title }}" href="{{ rating.club.get_absolute_url }}">
                                {% if rating.club.picture %}
                                    <img loading="lazy" class="images-table" src="{{ rating.club.picture.url }}" alt="{{ rating.club.title }}"> 
                                {% else %}
                                    <img loading="lazy" class="images-table" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                                {% endif %}
                                <span class="link-rating">{{ rating.club.title }}</span>
                            </a>
                        </td>
                        <td>{{ rating.club.Country.title }}</td>
                        <td>{{ rating.point_year1 }}</td>
                        <td>{{ rating.point_year2 }}</td>
                        <td>{{ rating.point_year3 }}</td>
                        <td>{{ rating.point_year4 }}</td>
                        <td>{{ rating.point_year5 }}</td>
                        <td>{{ rating.points }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}
