{% extends "main/base.html" %}
{% load static i18n %}

{% block title %}{% trans "Country rating" %}{% endblock %}

{% block bread %}

<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{% url 'all_rating' %}"> {% trans 'All ratings' %} </a></li>/
    <li><a href="{% url 'country_rating' %}"> {% trans 'Country rating' %} </a></li>/
</ul>
{% endblock %}

{% block content %}
    <div class="table-wrap">
        <table class="table-1">
            <tr>
                <th>{% trans 'Place' %}</th>
                <th>{% trans 'Country' %}</th>
                <th>{% trans 'Continent' %}</th>
                <th>{% trans 'Points' %}</th>
            </tr>

            {% for country in country_rating %}
                {% if country.points != 1 %}
                <tr>
                    <td>{{ country.place }}</td>
                    <td>
                        <a class="link-rating" href="{{ country.get_absolute_about_url }}">
                            {% if country.flag %}
                                <img loading="lazy" class="images-table" src="{{ country.flag.url }}" alt="{{ country.title }}"> 
                            {% else %}
                                <img loading="lazy" class="images-table" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            {{ country.title }}
                        </a>
                    </td>
                    <td>    
                        <a class="link-rating" href="{{ country.continent.get_absolute_about_url }}">
                            {% if country.continent.image %}
                                <img loading="lazy" class="images-table" src="{{ country.continent.image.url }}" alt="{{ country.continent.title }}"> 
                            {% else %}
                                <img loading="lazy" class="images-table" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            {{ country.continent }}
                        </a>
                    </td>
                    <td>{{ country.points }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
