{% extends "main/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Change short info' %}{% endblock %}

{% block bread %}
<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li>
        {% if cup.region.slug == "fifa" %}
            {{ cup.region.title }}
        {% else %}
            <a href="{{ cup.region.get_absolute_url }}"> {{ cup.region.title }} </a>
        {% endif %}
    </li>/
    <li><a href="{{ cup.get_absolute_url }}"> {{ cup.title }} </a></li>/
    <li><a href="{{ cup.get_absolute_url }}cup-info-update/"> {% trans "Change short info" %} </a></li>/
</ul>
{% endblock %}

{% block content %}

<div class="last">{% trans "Change short info for " %} {{ cup.title }}</div>
<form action="." method="POST" class="create">

    {% csrf_token %}
    {{ form.as_p }}
    <div class="btn-center"><button class="primaryAction btn-dark" type="submit">{% trans "Save" %}</button></div>

</form>

{% endblock %}