{% extends "main/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Change trophy' %}{% endblock %}

{% block bread %}
<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{{ player.country.continent.get_absolute_url }}"> {{ player.country.continent.title }} </a></li>/
    <li><a href="{{ player.country.get_absolute_url }}"> {{ player.country.title }} </a></li>/
    <li><a href="{{ player.get_absolute_url }}"> {{ player.title }} </a></li>/
    <li><a href="{{ player.get_absolute_url }}player-trophy-update/"> {% trans "Change trophy" %} </a></li>/
</ul>
{% endblock %}

{% block content %}

<div class="last">{% trans "Change trophy for " %} {{ club.title }}</div>
<form action="." method="POST" class="create">

    {% csrf_token %}
    {{ form.as_p }}
    <div class="btn-center"><button class="primaryAction btn-dark" type="submit">{% trans "Save" %}</button></div>

</form>

{% endblock %}