{% extends "main/base.html" %}
{% load static i18n %}

{% block title %}{% trans "All ratings" %}{% endblock %}

{% block bread %}

<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{% url 'all_rating' %}"> {% trans 'All ratings' %} </a></li>/
</ul>
{% endblock %}

{% block content %}
<section class="sample">
    <div class="container">
        <div class="row">
            <a class="item" href="{% url 'country_rating' %}">
                <img class="images" src="{% static 'images/fifa-rating.png' %}" alt="holderplace">
                <div class="title">{% trans 'Countries rating' %}</div>
            </a>
            <!--<a class="item" href="">
                <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                <div class="title">{% trans 'Leagues rating' %}</div>
            </a>-->
            <a class="item" href="{% url 'club_rating' %}">
                <img class="images" src="{% static 'images/club-rating.png' %}" alt="holderplace">
                <div class="title">{% trans 'Clubs rating' %}</div>
            </a>
        </div>
    </div>
</section>
{% endblock %}