{% extends "main/base.html" %}
{% load static i18n %}
{% block title %}{{club.title}}{% endblock %}
{% block bread %}
<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{{ club.league.country.continent.get_absolute_url }}"> {{ club.league.country.continent.title }} </a></li>/
    <li><a href="{{ club.league.country.get_absolute_url }}"> {{ club.league.country.title }} </a></li>/
    <li><a href="{{ club.league.get_absolute_url }}"> {{ club.league.title }} </a></li>/
    <li><a href="{{ club.get_absolute_url }}"> {{ club.title }} </a></li>
</ul>
{% endblock %}

{% block content %}
<div class="club-content">
    <div class="last">{{club.title}}
        {% if user.is_authenticated %}
            <sup><a href="{{ club.get_absolute_url }}club-title-update/"> {% trans 'change' %} </a></sup>
        {% else %}
            <sup><a href="{% url 'account_login' %}"> {% trans 'change' %} </a></sup>
        {% endif %}
    </div>
    <div class="info">
        {% if club.picture %}
            <img class="img-club" src="{{ club.picture.url }}" alt="{{club.title}}">
        {% else %}
            <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
        {% endif %}
        <p>{% trans "Nickname(s):" %} {{club.nickname}}</p>
        <p>{% trans "Short name:" %} {{club.short_name}}</p>
        <p>{% trans "Founded:" %} {% if club.founded|date:'d' == club.published_at|date:'d' and club.founded|date:'F' == club.published_at|date:'F' %} {{club.founded|date:'Y'}} {% else %} {{club.founded|date:'d F Y'}} {% endif %}</p>
        <p>{% trans "Stadium:" %} {{club.stadium}}</p>
        <p>{% trans "Manager:" %} {{club.manager}}</p>
        <p>{% trans "Website" %} <a href="{{ club.website }}" target="_blank">{{ club.website }}</a></p>
        {% if user.is_authenticated %}
            <p>
                <a href="{{ club.get_absolute_url }}club-info-update/"> {% trans 'change' %} </a>
            </p>
        {% else %}
            <p><a href="{% url 'account_login' %}"> {% trans 'change' %} </a></p>
        {% endif %}
    </div>
    <div class="text-club">
        <p class="text">{{club.main_text|linebreaks}}</p>
        {% if user.is_authenticated %}
            <sup><a href="{{ club.get_absolute_url }}club-main-update/"> {% trans 'change' %} </a></sup>
        {% else %}
            <sup><a href="{% url 'account_login' %}"> {% trans 'change' %} </a></sup>
        {% endif %}
    </div>
    {% if club.get_kits %}
        <div class="last">{% trans "Kit" %} </div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% for kit in club.get_kits %}
                    <div class="item">
                        {% if kit.kits %}
                            <img class="images" src="{{ kit.kits.url }}" alt="{{ kit.title }}">
                        {% else %}
                            <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                        <div class="title">{{ kit.title }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% if club.cups.all %}
        <div class="last">{% trans "Trophies" %}
        {% if user.is_authenticated %}
            <sup><a href="{{ club.get_absolute_url }}club-trophy-update/"> {% trans 'change' %} </a></sup>
        {% else %}
            <sup><a href="{% url 'account_login' %}"> {% trans 'change' %} </a></sup>
        {% endif %}
        </div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% for cup in club.cups.all %}
                    <a class="item" href="{{ cup.get_absolute_url }}">
                        {% if cup.image %}
                            <img class="images" src="{{ cup.image.url }}" alt="{{ cup.title }}">
                        {% else %}
                            <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                        <div class="title">{{ cup.title }}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% if club.famous_players.all %}
        <div class="last">{% trans "Famous Players" %} 
        {% if user.is_authenticated %}
            <sup><a href="{{ club.get_absolute_url }}club-player-update/"> {% trans 'change' %} </a></sup>
        {% else %}
            <sup><a href="{% url 'account_login' %}"> {% trans 'change' %} </a></sup>
        {% endif %}
        </div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% for player in club.famous_players.all %}
                    <a href="{{ player.get_absolute_url }}" class="item">
                        {% if player.image %}
                            <img class="images" src="{{ player.image.url }}" alt="{{ player.title }}">
                        {% else %}
                            <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                        <div class="title">{{ player.title }}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
</div>
{% endblock %}