{% extends "main/base.html" %}
{% load static i18n %}
{% block title %}{{club.title}}{% endblock %}
{% block bread %}
<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{{ club.league.country.continent.get_absolute_url }}"> {{ club.league.country.continent.title }} </a></li>/
    <li><a href="{{ club.league.country.get_absolute_url }}"> {{ club.league.country.title }} </a></li>/
    <li><a href="{{ club.league.get_absolute_url }}"> {{ club.league.title }} </a></li>/
    <li><a href="{{ club.get_absolute_url }}"> {{ club.title }} </a></li>/
</ul>
{% endblock %}

{% block content %}
<div class="club-content">
    <div class="last">{{club.title}}</div>
    <div class="info">
        {% if club.picture %}
            <img class="img-club" src="{{club.picture.url}}" alt="{{club.title}}">
        {% else %}
            <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
        {% endif %}
        {% if user.is_authenticated %}
            <p>{% trans "Nickname(s):" %} {{club.nickname}}</p>
            <p>{% trans "Short name:" %} {{club.short_name}}</p>
            <p>{% trans "Founded:" %} {{club.founded|date:'d F Y'}}</p>
            <p>{% trans "Stadium:" %} {{club.stadium}}</p>
            <p>{% trans "Manager:" %} {{club.manager}}</p>
            <p>{% trans "Website" %} <a href="{{ club.website }}" target="_blank">{{ club.website }}</a></p>
        {% endif %}
    </div>
    <div class="text-club">
        {% if user.is_authenticated %}
            <p class="text">{{club.main_text|linebreaks}}</p>
        {% else %}
            <p class="text">{{club.main_text|linebreaks|truncatechars:250}}</p>
            <div class="text-center">
                <a href="{% url 'account_signup' %}" class="btn btn-dark">{% trans "Resitration for read more " %}</a> {% trans "or" %}
                <a href="{% url 'account_login' %}" class="btn btn-dark">{% trans " Login for read more" %}</a>
            </div>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        {% if club.get_kits %}
            <div class="last">{% trans "Kit" %} </div>
            <section class="sample">
                <div class="container">
                    <div class="row">
                        {% for kit in club.get_kits %}
                        <div class="item">
                            {% if kit.kits %}
                                <img class="images" src="{{ kit.kits.url }}" alt="{{ kit.title }}"> 
                            {% else %}
                                <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            <div class="title">{{ kit.title }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        {% if club.cups.all %}
            <div class="last">{% trans "Trophies" %}</div>
            <section class="sample">
                <div class="container">
                    <div class="row">
                        {% for cup in club.cups.all %}
                        <a class="item" href="">
                            {% if cup.image %}
                                <img class="images" src="{{ cup.image.url }}" alt="{{ cup.title }}"> 
                            {% else %}
                                <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            <div class="title">{{ cup.title }}</div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        {% if club.famous_players.all %}
            <div class="last">{% trans "Famous Players" %} </div>
            <section class="sample">
                <div class="container">
                    <div class="row">
                        {% for player in club.famous_players.all %}
                        <a href="" class="item">
                            {% if player.image %}
                                <img class="images" src="{{ player.image.url }}" alt="{{ player.title }}"> 
                            {% else %}
                                <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            <div class="title">{{ player.title }}</div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}
</div>
{% endblock %}