{% extends "main/base.html" %}
{% load static i18n %}
{% block title %}{{league.title}}{% endblock %}
{% block bread %}
<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{{ league.country.continent.get_absolute_url }}"> {{ league.country.continent.title }} </a></li>/
    <li><a href="{{ league.country.get_absolute_url }}"> {{ league.country.title }} </a></li>/
    <li><a href="{{ league.get_absolute_url }}"> {{ league.title }} </a></li>
</ul>
{% endblock %}


{% block content %}
<div class="last">{{ league.title }}</div>
    <div class="btn-center">
        <a title="{{ league.title }}" href="{{ league.get_absolute_about_url }}" class="btn-dark history">{% trans "Read more about" %} {{ league.title }}</a>
    </div>
    <section class="sample">
        <div class="container">
            <div class="row">
                {% if clubs %}
                    {% for club in clubs %}
                    <a title="{{ club.title }}" class="item" href="{{ club.get_absolute_url }}">
                        {% if club.picture %}
                            <img loading="lazy" class="images" src="{{ club.picture.url }}" alt="{{ club.title }}"> 
                        {% else %}
                            <img loading="lazy" class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                        <div class="title">{{club.title}}</div>
                    </a>
                    {% endfor %}
                {% else %}
                    <div class="last text-none">{% trans "No clubs added to " %} {{ league.title }} {% trans ', please contact the administrator by e-mail: ' %} 
                        <a href="mailto:golovchak.evgen@gmail.com">golovchak.evgen@gmail.com</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}