{% extends "main/base.html" %}
{% load static i18n %}
{% block title %}{{continent.title}}{% endblock %}
{% block bread %}

<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{{ continent.get_absolute_url }}"> {{ continent.title }} </a></li>/
</ul>
{% endblock %}

{% block content %}

    <div class="last">{{ continent.title }}</div>
    <div class="btn-center">
        <a href="{{ continent.get_absolute_about_url }}" class="btn-dark history">{% trans "Read more about" %} {{ continent.title }}</a>
    </div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% if countries %}
                        {% for country in countries %}
                        <a class="item" href="{{ country.get_absolute_url }}">
                            {% if country.picture %}
                                <img class="images" src="{{ country.picture.url }}" alt="{{ country.title }}"> 
                            {% else %}
                                <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            <div class="title">{{country.title}}</div>
                        </a>
                        {% endfor %}
                    {% else %}
                        <div class="last row">{% trans "No countries added to " %} {{ continent.title }} {% trans ', please contact the administrator by e-mail: golovchak.evgen@gmail.com' %}</div>
                    {% endif %}
                </div>
            </div>
        </section>
{% endblock %}