{% extends "main/base.html" %}
{% load static i18n %}

{% block title %}{% trans "Trophies and award" %}{% endblock %}
{% block content %}

    <div class="last">{% trans "Trophies and award" %}</div>

    {% for continent in continents %}
    <div class="block">
        <div class="extremum-click btn btn-dark btn-country">{{ continent.title }}</div>
        <i class="up-icon fas fa-chevron-up"></i>
        <i class="down-icon fas fa-chevron-down"></i>
        <div class="extremum-slide">
            {% if continent.cup.all %}
            <section class="sample">
                <div class="container">
                    <div class="row">
                        {% for cup in continent.cup.all %}
                        <a href="{{ cup.get_absolute_url }}" class="item">
                            {% if cup.image %}
                                <img loading="lazy" class="images" src="{{ cup.image.url }}" alt="{{ cup.title }}">
                            {% else %}
                                <img loading="lazy" class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            <div class="title">{{ cup.title }}</div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </section>
            {% else %}
            <section class="sample">
                <div class="container">
                    <div class="row">
                        {% if user.is_authenticated %}
                        <a class="item" href="{% url 'cup_create' %}">
                            <img loading="lazy" class="images" src="{% static 'images/create-cup.png' %}" alt="holderplace">
                            <div class="title">{% trans 'Create new cup' %}</div>
                        </a>
                        {% else %}
                        <a class="item" href="{% url 'account_login' %}">
                            <img loading="lazy" class="images" src="{% static 'images/create-cup.png' %}" alt="holderplace">
                            <div class="title">{% trans 'Create new cup' %}</div>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </section>
            {% endif %}
        </div>
    </div>
    {% endfor %}

{% endblock %}