{% extends "main/base.html" %}
{% load static i18n %}
{% block title %}{{ cup.title }}{% endblock %}
{% block bread %}
<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{{ player.get_absolute_url }}"> {{ cup.title }} </a></li>
</ul>
{% endblock %}
{% block content %}
<div class="club-content">
    <div class="last">{{ cup.title }}</div>
    <div class="info">
        {% if cup.image %}
            <img class="img-club" src="{{ cup.image.url }}" alt="{{cup.title}}">
        {% else %}
            <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
        {% endif %}
        <p>{% trans "Founded:" %} {{cup.founded|date:'Y'}}</p>
        <p>{% trans "Region:" %} {{cup.region}}</p>
        <p>{% trans "Website" %}<a href="{{ cup.website }}" target="_blank"> {{ cup.website }}</a></p>
    </div>
    <div class="text-club">
        <p class="text">{{ cup.main_text|linebreaks }}</p>
    </div>
    {% if cup.player.all %}
        <div class="last">{% trans "Wins by player" %} </div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% for player in cup.player.all %}
                    <a href="{{ player.get_absolute_url }}" class="item">
                        {% if player.image %}
                            <img class="images" src="{{ player.image.url }}" alt="{{ player.title }}">
                        {% else %}
                            <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                        <div class="title">{{ player.title }} {% if cup.slug == 'ballon-dor' %} x{{player.gb}} {% elif cup.slug == 'world-cup' %} x{{player.wc}} {% elif cup.slug == 'uefa-champions-league' %} x{{player.cl}}  {% endif %}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% if cup.clubs.all %}
        <div class="last">{% trans "Wins by club" %} </div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% for club in cup.clubs.all %}
                    <a href="{{ club.get_absolute_url }}" class="item">
                        {% if club.picture %}
                            <img class="images" src="{{ club.picture.url }}" alt="{{ club.title }}">
                        {% else %}
                            <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                        <div class="title">{{ club.title }} {% if cup.slug == 'ballon-dor' %} x{{club.gb}} {% elif cup.slug == 'world-cup' %} x{{club.wc}} {% elif cup.slug == 'uefa-champions-league' %} x{{club.cl}} {% endif %}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% if cup.countrys.all %}
        <div class="last">{% trans "Wins by country" %} </div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% for country in cup.countrys.all %}
                    <a href="{{ country.get_absolute_url }}" class="item">
                        {% if country.picture %}
                            <img class="images" src="{{ country.picture.url }}" alt="{{ country.title }}">
                        {% else %}
                            <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                        <div class="title">{{ country.title }} {% if cup.slug == 'ballon-dor' %} x{{country.gb}} {% elif cup.slug == 'world-cup' %} x{{country.wc}} {% elif cup.slug == 'uefa-champions-league' %} x{{country.cl}} {% endif %}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
</div>
{% endblock %}