{% extends "main/base.html" %}
{% load static i18n %}

{% block title %}{% trans "Home" %}{% endblock %}
{% block content %}

    <div class="last">{% trans "New add clubs" %}</div>
    
    {% include "main/entry-pages/homepage_entry.html" %}
    
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}