{% extends "main/base.html" %}
{% load static i18n %}

{% block title %}{% trans "Home" %}{% endblock %}
{% block content %}

    <div class="last">{% trans "New add clubs" %}</div>
    <section class="sample">
        <div class="container">
            <div class="row">
                {% for club in clubs %}
                <a class="item" href="{{ club.get_absolute_url }}">
                    {% if club.picture %}
                        <img class="images" src="{{ club.picture.url }}"> 
                    {% else %}
                        <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                    {% endif %}
                    <div class="title">{{club.title}}</div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <div class="pagination">
        <div class="center">
        {% if clubs.has_previous %}

        <a class="pagination-action" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
        <a class="pagination-action" href="?page={{ clubs.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
        
        {% endif %}

        {% for num in clubs.paginator.page_range %}
            {% if clubs.number == num %}
                
                <span class="pagination-number pagination-current">{{ num }}</span>

            {% elif num > clubs.number|add:'-3' and num < clubs.number|add:'3' %}

                <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>

            {% endif %}    

        {% endfor %}

        {% if clubs.has_next %}

        <a class="pagination-action" href="?page={{ clubs.next_page_number }}"><i class="fas fa-angle-right"></i></a>
        <a class="pagination-action" href="?page={{ clubs.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
        
        {% endif %}
        </div>
    </div>
{% endblock %}