{% extends "main/base.html" %}
{% load static i18n %}
{% block title %}{{country.title}}{% endblock %}
{% block bread %}
<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{{ country.continent.get_absolute_url }}"> {{ country.continent.title }} </a></li>/
    <li><a href="{{ country.get_absolute_url }}"> {{ country.title }} </a></li>/
</ul>
{% endblock %}

{% block content %}
<div class="last">{{ country.title }}</div>
    <div class="btn-center">
        <a href="{{ country.get_absolute_about_url }}" class="btn-dark history">{% trans "Read more about" %} {{ country.title }}</a>
    </div>
    <section class="sample">
        <div class="container">
            <div class="row">
                {% if leagues %}
                    {% for league in leagues %}
                    <a class="item" href="{{ league.get_absolute_url }}">
                        {% if league.picture %}
                            <img class="images" src="{{ league.picture.url }}" alt="{{ league.title }}"> 
                        {% else %}
                            <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                        <div class="title">{{ league.title }}</div>
                    </a>
                    {% endfor %}
                {% else %}
                    <div class="last row">{% trans "No leagues added to " %} {{ country.title }} {% trans ', please contact the administrator by e-mail: golovchak.evgen@gmail.com' %}</div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}