{% extends "main/base.html" %}
{% load static i18n %}

{% block title %}{% trans "Players" %}{% endblock %}
{% block content %}

    <div class="last">{% trans "Players" %}</div>

    {% for country in countries %}
    <div class="block">
        <div class="extremum-click btn btn-dark btn-country">{{ country.title }}</div>
        <i class="up-icon fas fa-chevron-up"></i>
        <i class="down-icon fas fa-chevron-down"></i>
        <div class="extremum-slide">
            {% if country.player.all %}
            <section class="sample">
                <div class="container">
                    <div class="row">
                        {% for player in country.player.all %}
                        <a href="{{ player.get_absolute_url }}" class="item">
                            {% if player.image %}
                                <img class="images" src="{{ player.image.url }}" alt="{{ player.title }}">
                            {% else %}
                                <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            <div class="title">{{ player.title }}</div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </section>
            {% else %}
            <section class="sample">
                <div class="container">
                    <div class="row">
                        <a class="item" href="{% url 'player_create' %}">
                            <img class="images" src="{% static 'images/create-player.png' %}" alt="holderplace">
                            <div class="title">{% trans 'Create new player' %}</div>
                        </a>
                    </div>
                </div>
            </section>
            {% endif %}
        </div>
    </div>
    {% endfor %}

{% endblock %}