{% extends "main/base.html" %}
{% load static i18n %}
{% block title %}{{ player.title }}{% endblock %}
{% block bread %}
<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{{ player.country.continent.get_absolute_url }}"> {{ player.country.continent.title }} </a></li>/
    <li><a href="{{ player.country.get_absolute_url }}"> {{ player.country.title }} </a></li>/
    <li><a href="{{ player.get_absolute_url }}"> {{ player.title }} </a></li>
</ul>
{% endblock %}
{% block content %}
<div class="club-content">
    <div class="last">{{ player.title }}</div>
    <div class="info">
        {% if player.image %}
            <img class="img-club" src="{{ player.image.url }}" alt="{{player.title}}">
        {% else %}
            <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
        {% endif %}
            <p>{% trans "Nickname(s):" %} {{player.nickname}}</p>
            <p>{% trans "Nationality:" %} {{player.country}}</p>
            <p>{% trans "Date of birth:" %} {{player.date_of_birth|date:'d F Y'}}</p>
            <p>{% trans "Height:" %} {{player.height}} {% trans "cm" %}</p>
            <p>{% trans "Playing position(s):" %} {{player.positions}}</p>
    </div>
    <div class="text-club">
        <p class="text">{{ player.main_text|linebreaks }}</p>
    </div>
    {% if player.clubs.all %}
        <div class="last">{% trans "Clubs" %} </div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% for club in player.clubs.all %}
                        <a href="{{ club.get_absolute_url }}" class="item">
                            {% if club.picture %}
                                <img class="images" src="{{ club.picture.url }}" alt="{{ club.title }}">
                            {% else %}
                                <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            <div class="title">{{ club.title }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% if player.cups.all %}
        <div class="last">{% trans "Trophies and award" %}</div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% for cup in player.cups.all %}
                    <a class="item" href="{{ cup.get_absolute_url }}">
                        {% if cup.image %}
                            <img class="images" src="{{ cup.image.url }}" alt="{{ cup.title }}">
                        {% else %}
                            <img class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                        <div class="title">{{ cup.title }} {% if cup.slug == 'ballon-dor' %} x{{player.gb}} {% elif cup.slug == 'world-cup' %} x{{player.wc}} {% elif cup.slug == 'uefa-champions-league' %} x{{player.cl}}  {% endif %}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% if player.get_fifa %}
        <div class="last">{% trans "FUT" %} </div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% for fifa in player.get_fifa %}
                    <div class="item">
                        {% if fifa.cards %}
                            <img class="images-fut" src="{{ fifa.cards.url }}" alt="{{ fifa.title }}">
                        {% else %}
                            <img class="images-fut" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
</div>
{% endblock %}