{% extends "main/base.html" %}
{% load static i18n %}
{% block title %}{{ player.title }}{% endblock %}
{% block bread %}
<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{{ player.country.continent.get_absolute_url }}"> {{ player.country.continent.title }} </a></li>/
    <li><a href="{{ player.country.get_absolute_url }}"> {{ player.country.title }} </a></li>/
    <li><a href="{{ player.get_absolute_url }}"> {{ player.title }} </a></li>
</ul>
{% endblock %}
{% block content %}
<div class="club-content">
    <div class="last">{{ player.title }}
        {% if user.is_authenticated %}
            <sup><a href="{{ player.get_absolute_url }}player-title-update/"> {% trans 'change' %} </a></sup>
        {% else %}
            <sup><a href="{% url 'account_login' %}"> {% trans 'change' %} </a></sup>
        {% endif %}
    </div>
    <div class="info">
        {% if player.image %}
            <img loading="lazy" class="img-club" src="{{ player.image.url }}" alt="{{player.title}}">
        {% else %}
            <img loading="lazy" class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
        {% endif %}
            <p>{% trans "Nickname(s):" %} {{player.nickname}}</p>
            <p>{% trans "Nationality:" %} {{player.country}}</p>
            <p>{% trans "Date of birth:" %} {{player.date_of_birth|date:'d F Y'}}</p>
            <p>{% trans "Height:" %} {{player.height}} {% trans "cm" %}</p>
            <p>{% trans "Playing position(s):" %} {{player.positions}}</p>
            {% if user.is_authenticated %}
                <p><a href="{{ player.get_absolute_url }}player-info-update/"> {% trans 'change' %} </a></p>
            {% else %}
                <p><a href="{% url 'account_login' %}"> {% trans 'change' %} </a></p>
            {% endif %}
    </div>
    <div class="text-club">
        <p class="text">{{ player.main_text|linebreaks }}</p>
        {% if user.is_authenticated %}
            <sup><a href="{{ player.get_absolute_url }}player-main-update/"> {% trans 'change' %} </a></sup>
        {% else %}
            <sup><a href="{% url 'account_login' %}"> {% trans 'change' %} </a></sup>
        {% endif %}
    </div>
    {% if player.clubs.all %}
        <div class="last">{% trans "Clubs" %} 
            {% if user.is_authenticated %}
                <sup><a href="{{ player.get_absolute_url }}player-club-update/"> {% trans 'change' %} </a></sup>
            {% else %}
                <sup><a href="{% url 'account_login' %}"> {% trans 'change' %} </a></sup>
            {% endif %}
        </div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% for club in player.clubs.all %}
                        <a title="{{ club.title }}" href="{{ club.get_absolute_url }}" class="item">
                            {% if club.picture %}
                                <img loading="lazy" class="images" src="{{ club.picture.url }}" alt="{{ club.title }}">
                            {% else %}
                                <img loading="lazy" class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            <div class="title">{{ club.title }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% else %}
        <div class="last">{% trans "Clubs" %}</div>
        <div class="nope">
            <p>{% blocktrans %}No clubs added, click {% endblocktrans %}
                {% if user.is_authenticated %}
                    <a href="{{ player.get_absolute_url }}player-club-update/"> {% trans 'change' %} </a>
                {% else %}
                    <a href="{% url 'account_login' %}"> {% trans 'change' %} </a>
                {% endif %}
            {% blocktrans %}to add{% endblocktrans %}</p>
        </div>
    {% endif %}
    {% if player.cups.all %}
        <div class="last">{% trans "Trophies and award" %}
            {% if user.is_authenticated %}
                <sup><a href="{{ player.get_absolute_url }}player-trophy-update/"> {% trans 'change' %} </a></sup>
            {% else %}
                <sup><a href="{% url 'account_login' %}"> {% trans 'change' %} </a></sup>
            {% endif %}
        </div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% for cup in player.cups.all %}
                    <a title="{{ cup.title }}" class="item" href="{{ cup.get_absolute_url }}">
                        {% if cup.image %}
                            <img loading="lazy" class="images" src="{{ cup.image.url }}" alt="{{ cup.title }}">
                        {% else %}
                            <img loading="lazy" class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                        <div class="title">{{ cup.title }} {% if cup.slug == 'ballon-dor' %} x{{player.gb}} {% elif cup.slug == 'world-cup' %} x{{player.wc}} {% elif cup.slug == 'uefa-champions-league' %} x{{player.cl}}  {% endif %}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% else %}
        <div class="last">{% trans "Trophies and award" %}</div>
        <div class="nope">
            <p>{% blocktrans %}No trophies added, click {% endblocktrans %}
                {% if user.is_authenticated %}
                    <a href="{{ player.get_absolute_url }}player-trophy-update/"> {% trans 'change' %} </a>
                {% else %}
                    <a href="{% url 'account_login' %}"> {% trans 'change' %} </a>
                {% endif %}
            {% blocktrans %}to add{% endblocktrans %}</p>
        </div>
    {% endif %}
    {% if player.get_fifa %}
        <div class="last">{% trans "FUT" %} </div>
        <section class="sample">
            <div class="container">
                <div class="row">
                    {% for fifa in player.get_fifa %}
                    <div class="item">
                        {% if fifa.cards %}
                            <img loading="lazy" class="images-fut" src="{{ fifa.cards.url }}" alt="{{ fifa.title }}">
                        {% else %}
                            <img loading="lazy" class="images-fut" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
</div>
{% endblock %}