{% extends "main/base.html" %}
{% load static i18n %}

{% block title %}{% trans "Association rating" %}{% endblock %}

{% block bread %}

<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{% url 'all_rating' %}"> {% trans 'All ratings' %} </a></li>/
    <li><a href="{% url 'association_rating' %}"> {% trans 'Continents' %} </a></li>/
    <li><a href="{{ rating.get_absolute_url }}"> {% trans 'Association rating ' %}{{ continent.title }} </a></li>/
</ul>
{% endblock %}

{% block content %}
    <div class="table-wrap">
        <table class="table-1">
            <tr>
                <th>{% trans 'Place' %}</th>
                <th>{% trans 'Association' %}</th>
                <th>16/17</th>
                <th>17/18</th>
                <th>18/19</th>
                <th>19/20</th>
                <th>20/21</th>
                <th>{% trans 'Points' %}</th>
                <th>{% trans 'Teams' %}</th>
            </tr>
            {% if rating.get_ass %}
                {% for rating in rating.get_ass %}
                <tr>
                    <td>{{ rating.place }}</td>
                    <td>
                        <a title="{{ rating.title }}" href="{{ rating.get_absolute_url }}">
                            {% if rating.picture %}
                                <img loading="lazy" class="images-table" src="{{ rating.picture.url }}" alt="{{ rating.title }}"> 
                            {% else %}
                                <img loading="lazy" class="images-table" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                            {% endif %}
                            <span class="link-rating">{{ rating.title }}</span>
                        </a>
                    </td>
                    <td>{{ rating.points }}</td>
                    {% if rating.continent.slug == 'uefa' %}
                        <td>{{ rating.cl_teams }}</td>
                        <td>{{ rating.el_teams }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

<p>{{ rating }}</p>
{% endblock %}
