body{
    margin: 0;
    padding: 0;    
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
}

main{
  min-height: 770px;
}

.row a{
  text-decoration: none;
  background: white;
  color: black;
  opacity: 0.8;
}

.row a:hover{
  text-decoration: none;
  background: white;
  color: black;
  opacity: 1;
}

.wrapper{
    margin-right: auto;
    margin-left:  auto;

    max-width: 1080px;
}

.sanukagdes {
    margin: 15px auto;
  }
  #gekasante-rnational {
    width: 100%;
    background: rgb(21, 19, 19);
    font-weight: 600;
    font-size: 14px;
    border-radius: 2px;
    padding: 10px;
  }
  #gekasante-rnational ul {
    margin: 0px;
    padding: 0px;
  }
  #gekasante-rnational ul li, label[for=toggle] {
    display: inline-block;
    cursor: pointer;
    color: rgb(251, 244, 244);
    padding: 17px 10px 15px 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  #gekasante-rnational ul li:hover, label[for=toggle]:hover {
    color: rgb(245, 239, 239);
    text-shadow: 0 0 1px #f7f4f4;
    transition: 0.5s;
    box-shadow: 0px 2px 0px 0px rgba(251, 251, 251, 0.79);
    margin-right: 10px;
  }
  
.row{
  max-width: 1080px;
  padding: 0 0;
  display: flex;
}

.item{
  width: calc(25% - 30px);
  height: 25%;
  text-align: center;
  margin: 15px;
  text-decoration: none;
}

.images{
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.images-fut{
  width: 85%;
  height: 85%;
  object-fit: cover;
}

.title{
  font-size: 30px;
  color: black;
  font-family: 'Cormorant Infant', serif;
}

.footer{
  margin-top: 15px;
  height: 55px;
  background: rgb(21, 19, 19);
  text-align: center;
  color: white;
}

.footer p {
  padding-top: 17px;
  padding-bottom: 0;
  text-transform: uppercase;
}

.footer a {
  color: white;
}

/* HOMEPAGE */

.last{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}


/* DETAIL CLUB */

.club-content{
  background-color: white;
}

.info{
  margin-right: 10px;
  float: left;
  width: 320px;
  min-height: 250px;
}

.info p {
  text-align: center;
}

.info .img-club{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.text-club{
  text-align: justify;
  padding: 10px 25px 0 15px;
  font-size: 20px;
  min-height: 240px;
}

.text-club .text{
  opacity: 1;
}

.pagination{
  text-align: center;
  margin-top: 1em;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.pagination-action {
  margin: 0 0.1em;
  display: inline-block;
  padding: 0.5em;
  color: #000000;
  font-size: 2em;
}

.pagination-action:hover {
  color: #000000;
}

.pagination-number {
  background-color: #454545;
  padding: 0.8em 0.8em;
  color: #fff;
  border-radius: 2px;
}

.pagination-number:hover,
.pagination-current {
  color: #fff;
  background-color: #000000;
}

.white {
  color: #fff;
}

.select-lang{
  background: none;
  color: #fff;
  width: 109px;
  height: 30px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}

.option-lang {
  background: #000000;
  color: #fff;
  border: none;
}

.select-lang:hover {
  cursor: pointer;
}

.btn-lang {
  background: rgb(21, 19, 19);
  color: #fff;
  font-size: 16px;
  border: none;
}

.btn-lang:hover {
  background: #fff;
  color: rgb(21, 19, 19);
}

.list-bread {
  background-color: #000000;
  color: #fff;
}

.list-bread a {
  color: #fff;
  text-decoration: none;
}


.list-bread a:hover {
  border-bottom: solid 1px #fff;
}

.list-bread li:nth-child(n) {
  margin: 0 15px 0 15px;
}

.registration {
  margin-left: auto;
  margin-right: auto;
  width: 43%;
}

.registration input {
  width: 100%;
}

.registration input[type=checkbox] {
  width: auto;
}

.resp-title {
  font-size: 33px;
  font-weight: bold;
  text-align: center;
}

.btn-center {
  margin-top: 20px;
  text-align: center;
}

.btn-dark{
  width: 75%;
  height: 40px;
}

.btn-dark-2 {
  width: auto;
}

.logout-text {
  text-align: center;
}