@media only screen  
  and (min-width : 1025px) {
    input[type=checkbox]#toggle,
    label[for=toggle] {
    display: none;
    }
  }
  @media only screen  
  and (max-width : 679px) {
    #gekasante-rnational {
    width: 100%;
    }
    input[type=checkbox]#toggle {
    position: absolute;
    z-index: -9999px;
    top: -9999px;
    left: -9999px;
    }
    i.icon-nalcanemakeg-1 {
    margin: 0 10px 0 0;
    }
    label[for=toggle] {
    width: 90%;
    }
    #nalcanemakeg {
    display: none;
    }
    input[type=checkbox]#toggle:checked ~ #nalcanemakeg {
    display: block;
    }
    input[type=checkbox]#toggle:checked ~ #nalcanemakeg li {
    display: block;
    }
  }
  @media only screen  
  and (min-width : 680px)  
  and (max-width : 702px) {
    #gekasante-rnational {
    width: 100%;
    font-size: 11px;
    }
    input[type=checkbox]#toggle,
    label[for=toggle] {
    display: none;
    }  
  }
  @media only screen  
  and (min-width : 703px)  
  and (max-width : 728px) {
    #gekasante-rnational {
    width: 100%;
    font-size: 12px;
    }
    input[type=checkbox]#toggle,
    label[for=toggle] {
    display: none;
    }  
  }
  @media only screen  
  and (min-width : 728px)  
  and (max-width : 1024px) {
    #gekasante-rnational {
    width: 100%;
    font-size: 13px;
    }
    input[type=checkbox]#toggle,
    label[for=toggle] {
    display: none;
    }  
  }

  @media only screen and (max-width : 1850px){
    .item{
      width: calc(33.33% - 30px);
      height: 33.33%;
    }
    .anchor {
      right: 200px;
      bottom: 75px;
    }
  }
  @media only screen and (max-width : 1650px){
    .item{
      width: calc(33.33% - 30px);
      height: 33.33%;
    }
    .anchor {
      right: 150px;
      bottom: 75px;
    }
  }
  @media only screen and (max-width : 1550px){
    .item{
      width: calc(33.33% - 30px);
      height: 33.33%;
    }
    .anchor {
      right: 100px;
      bottom: 75px;
    }
  }
  @media only screen and (max-width : 1400px){
    .item{
      width: calc(33.33% - 30px);
      height: 33.33%;
    }
    .anchor {
      right: 50px;
      bottom: 75px;
    }
  }
  @media only screen and (max-width : 1200px){
    .item{
      width: calc(33.33% - 30px);
      height: 33.33%;
    }
    .anchor {
      right: -12px;
      bottom: 75px;
    }
  }
  @media only screen and (max-width : 990px){
    .item{
      width: calc(50% - 30px);
      height: 50%;
    }
    .registration {
      width: 50%;
    }
    .create {
      width: 50%;
    }
  }
  @media only screen  
  and (max-width : 679px) {
    .registration {
      width: 60%;
    }
    .create {
      width: 60%;
    }
  }
  @media only screen  
  and (max-width : 600px) {
    .info {
      width: 100%;
    }
  }
  @media only screen and (max-width : 510px){
    .item{
      width: calc(100% - 30px);
      height: 100%;
    }
    .registration {
      width: 80%;
    }
    .create {
      width: 80%;
    }
  }
