{% extends "main/base.html" %}

{% load static i18n geo_tags %}

{% block title %}{% trans "Geography" %}{% endblock %}

{% block bread %}

<ul class="breadcrumb list-bread">
    <li><a href="{% url 'home_page' %}"> {% trans 'Home' %} </a></li>/
    <li><a href="{% url 'geo' %}"> {% trans 'Geography' %} </a></li>/
</ul>
{% endblock %}

{% block content %}
{% for country in countries %}
    {{ country.title }}
{% endfor %}
<ul class="nav nav-pills mb-3 my-nav-pills" id="pills-tab" role="tablist">
    {% geo_continents %}
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="europe" role="tabpanel" aria-labelledby="europe-tab">
        {% get_europe_country as continent_country %}
        <div class="last">{% trans 'Europe' %}</div>
        {% include 'geo/include/geo-item.html' %}
    </div>
</div>
    
{% endblock %}