{% load i18n static el_pagination_tags %}

<section class="sample">
    <div class="container">
        <div class="row">
            {% if countries %}
                {% paginate 24 countries %}
                {% for country in countries %}
                    <a title="{{ country.title }}" class="item" href="{{ country.get_absolute_url }}">
                        {% if country.picture %}
                            <img loading="lazy" class="images" src="{{ country.picture.url }}" alt="{{ country.title }}"> 
                        {% else %}
                            <img loading="lazy" class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                        {% endif %}
                            <div class="title">{{ country.title }}</div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="last text-none">{% trans "No countries added to " %} {{ continent.title }} {% trans ', please contact the administrator by e-mail: ' %} 
                    <a href="mailto:golovchak.evgen@gmail.com">golovchak.evgen@gmail.com</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% if countries %}
<div class="pagination">
    <div class="center">
        {% show_pages %}
    </div>
</div>
{% endif %}