{% load i18n static el_pagination_tags %}

<section class="sample">
    <div class="container">
        <div class="row">
            {% paginate 12 clubs %}
            {% if clubs %}
                {% for club in clubs %}
                <a class="item" href="{{ club.get_absolute_url }}">
                    {% if club.picture %}
                        <img loading="lazy" class="images" src="{{ club.picture.url }}" alt="{{ club.title }}">
                    {% else %}
                        <img loading="lazy" class="images" src="{% static 'images/placeholder.png' %}" alt="holderplace">
                    {% endif %}
                    <div class="title">{{club.title}}</div>
                </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

<div class="pagination">
    <div class="center">
        {% show_pages %}
    </div>
</div>